@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;  
}
body {
  background-color: rgb(15, 15, 15);
  color: rgb(233, 223, 205);
  height: 100vh;
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.lateral-menu {
  width: 50%;
  background-color: rgb(66, 66, 66);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btns-area {
  height: 60%;
  border-radius: 1.2rem;
  margin: 0 0.5rem;
  background-color: rgb(177, 177, 177);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(61, 58, 58);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.color-picker, .label-color-picker {
  display: block;
  margin: 0 auto;
}

.label-color-picker {
  text-align: center;
}

.color-picker {
  border-radius: 1.2rem;
  background-color: rgba(0, 0, 0, 0);
}

.size-area {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

input[type="color"] {
  border-style: none;
  
  border-radius: 50%;
	width: 6rem;
	height: 3rem;
}

input[type="color"]:hover {
  cursor: pointer;
}

.btns-area button {
  width: 6rem;
  margin: 0 auto;
  padding: 0.8rem 0;
  border-radius: 0.8rem;
  border-style: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.rainbow:hover {
  background-image: linear-gradient(270deg, #009fb2 0, #009fc3 3.33%, #009ed3 6.67%, #009de2 10%, #009cef 13.33%, #0099f9 16.67%, #0096ff 20%, #0093ff 23.33%, #008eff 26.67%, #0089ff 30%, #0083ff 33.33%, #327bff 36.67%, #6b73fc 40%, #8e6af2 43.33%, #a860e6 46.67%, #be55d8 50%, #cf4ac9 53.33%, #dd3eb8 56.67%, #e834a6 60%, #f02b95 63.33%, #f52682 66.67%, #f72770 70%, #f62d5f 73.33%, #f4364d 76.67%, #ef413c 80%, #e84b2a 83.33%, #df5616 86.67%, #d56000 90%, #c96900 93.33%, #bc7100 96.67%, #ae7800 100%);
}

.eraser:hover {
  border-style: solid;
  border-width: 2px;
  border-color: pink;
  box-sizing: border-box;
}

.playable-area h1, .lateral-menu h2 {
  text-align: center;
}
.playable-area h1 {
  margin-top: 2rem;
}
.playable-area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.grid-container {
  height: 499px;
  width: 499px;
  background-color: black;
  border: 2rem solid rgb(15, 15, 15);
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
}
.cell {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.display-mode {
  margin-left: 0.5rem;
  padding: 0.5rem;
}


